.tile{
    cursor: pointer;
    height: 300px;
    display: flex;
}

.tile > span{
    flex: none;
    margin:auto;
}

.container{
    margin-top:20px;
}

html body{
    background-color: #f5f5f5;
}

.no-space{
    padding-left: 0px !important;
    padding-right: 0px !important;
}